*{
    margin:0;
    padding:0;
}

/* body {
    background-color:#bababa;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
} 

footer {
    background-color:#212121;
    bottom:0;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    height:70px;
    left:0;
    position:fixed;
    width:100%;
    z-index:100;
}

footer h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}

footer a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}

footer .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}

/*new styles*/


.container {
    color:#000;
    margin:20px auto;
    padding:20px;
    position:relative;
    width:800px;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:1px 1px 5px #111111;

    column-count: 2;
    column-gap: 3em;
    /* column-rule: 1px dashed black; */
    -moz-column-count: 2;
    -moz-column-gap: 3em;
    /* -moz-column-rule: 1px dashed black; */
    -webkit-column-count: 2;
    -webkit-column-gap: 3em;
    /* -webkit-column-rule: 1px dashed black; */
}
.controls {
    margin:10px auto;
    padding:10px;
    position:relative;
    width:800px;

    box-shadow:1px 1px 5px #111111;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.controls input[type=button] {
    border: 1px solid #000;
    background-color: #666;
    box-shadow: 0 1px 0 rgba(150, 150, 150, 0.5);
    color: #FFF;
    cursor: pointer;
    font-size: 11px;
    /* font-weight: bold; 
    margin-right: 10px;
    padding: 8px 12px; */
}
.controls input[type=button]:hover {
    background-color:#444;
}
.controls input[type=button]:active {
    background-color:#000;
}