body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background-image: url("../images/darker_110.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: white;
	margin-left: 50px;
	/* margin-top: 3px;
    margin-bottom: 100px;
    margin-right: 150px; */
    /* background-color: #EBE8E4; */
	/* color: #222; */

}

h1 {
	font-size: 22px;
	color: #fff;
	margin-top: 10px;
	line-height: 120%;
}

h2 {
	font-size: 14px;
	color: #fff;
	line-height: 120%;
}

.header {
    position: absolute;
    left: 460px;
    top: 20px;
    z-index: 1;  /* menu's op de voorgrond */ 
  }
  
.sub-header {
    position: absolute;
    left: 460px;
    top: 55px;
    z-index: 1;  /* menu's op de voorgrond */ 
  }

ul.pos_left {
	position: relative;
	top: -10px;
	left: 20px;
	z-index: -1;
}


span.dropt {
	border-bottom: thin dotted; 
	/* background: #ffeedd; 
	background: #000000; */
	}
	
span.dropt:hover {
	text-decoration: none; 
	/* background: #ffffff;  */
	background: #4b545f;
	z-index: 6; 
	}

span.dropt span {
	position: absolute; 
	left: -9999px; 
	/* margin: 20px 0 0 0px; 
	padding: 3px 3px 3px 3px;
	border-style:solid; 
	/* border-color:black; */ 
	border-width:1px; 
	z-index: 6;
	}
	
span.dropt:hover span {
	left: 15%;
	background: #ffffff; 
	} 

/* span.dropt2:hover span {
	left: 65%;
	color: black;
	background: #ffffff; 
	} */ 
	
span.dropt span {
	position: absolute;
	/* left: -9999px; 
	margin: 4px 0 0 0px;
	padding: 3px 3px 3px 3px;
	border-style:solid;
	border-color:black; */
	border-width:10px;
	}
	
span.dropt:hover span {
/* 	margin: 20px 0 0 170px; 
	margin: 20px 0 0 10px;
	background: #000000; */
	z-index:6;
	font-weight="bold"
	} 



.vraag {
        font-weight: bold;
    }

.antw {
    margin-left: 50px;
    /* text-indent: 50px; */
   }

.output{
	color: lime;
}

.input{
	font-style: italic;
	color: yellow;
}

.opmerking {
	margin-left: 75px;
	font-weight: bold;
}

.command {
	font-family: courier;
	font-size: 90%;
	border: 5px; /* solid #a1a1a1; */
	/* border-radius: 5px; */
	padding: 5px 20px;
	box-shadow: 10px 10px 5px #0d0d0d;
	background-color: rgba( 15, 0, 44, 0.5);
	width: 85%;
	z-index: -1;  /* menu's op de voorgrond */
}

.indent {
		margin-left:50px;
}


.strong {
		font-weight: bold;
}

#titel {
	/* font-weight: bold */
	z-index: -1;  /* menu's op de voorgrond */
}

.container {
    /* color:#fff; */
    margin:20px auto;
    /* margin-top: 110px; */
    padding:20px; 
    position:relative;
    /* width:800px; */

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:1px 1px 5px #111111;

    column-count: 1;
    column-gap: 3em;
    /* column-rule: 1px dashed black; */
    -moz-column-count: 1;
    -moz-column-gap: 3em;
    /* -moz-column-rule: 1px dashed black; */
    -webkit-column-count: 1;
    -webkit-column-gap: 3em;
    /* -webkit-column-rule: 1px dashed black; */
}
.controls {
    margin:10px auto;
    /* padding:10px; */
    position:relative;
    /* width:800px; */

    box-shadow:1px 1px 5px #111111;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    z-index: -1;  /* menu's op de voorgrond */
}
.controls input[type=button] {
    /* border: 1px solid #000; */
    background-color: #666; 
    box-shadow: 0 1px 0 rgba(150, 150, 150, 0.5);
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    /* font-weight: bold;
    margin-right: 10px;
    padding: 8px 12px; */
    z-index: -1;
}
.controls input[type=button]:hover {
    background-color:#444;
}
.controls input[type=button]:active {
    background-color:#000;
    z-index: -1;  /* menu's op de voorgrond */
}

.header {
  position: fixed;
  margin-top: 10px;
  z-index: 1;  /* menu's op de voorgrond */ 
}

.ref {
	position: absolute;
    right: 0px;
    width: 350px;
    top: 10px;
    font-style: italic;
     font-size: 12px;
}

 /* unvisited link */
a:link {
    color: #0033CC;
}

/* visited link */
a:visited {
    color: #009999;
}

/* mouse over link */
a:hover {
    color: #0066FF;
}

/* selected link */
a:active {
    color: #CCFFFF;
}

 .player:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
  .player:-moz-full-screen {
    width: 100%;
    height: 100%;
}

/* smart image enlarger starts here */
/* If your images are not linking to other pages leave the links as <a href="#nogo"> Otherwise enlarger won't work in IE6 */

.ienlarger {
	float: left;
	clear: none; /* set to left or right if needed */
	padding-bottom: 5px; /* space between thumbs. Don't change this to margin */
	padding-right: 5px; /* space between thumbs and wrapping text when there is any text around it */
}

.ienlarger a { 
	display:block;
	text-decoration: none;
/* add cursor:default; to this rule to disable the hand cursor */
}

.ienlarger a:hover{ /* don't move this positioning to normal state */
 	position:relative;
}

.ienlarger span img {
	border: 1px solid #FFFFFF; /* adds a border around the image */
	margin-bottom: 8px; /* pushes the text down from the image */
}

.ienlarger a span {  /* this is for the large image and the caption */
	position: absolute;
	display:none;
	color: #FFCC00; /* caption text colour */
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; /* caption text size */
	background-color: #000000;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 13px;
	padding-left: 10px;
}

.ienlarger img { /* leave or IE puts a border around links */
border-width: 0;
}

.ienlarger a:hover span { 
	display:block;
	top: -250px; /* means the pop-up's top is 50px away from thumb's top */
	left: -490px; /* means the pop-up's left is 90px far from the thumb's left */
	z-index: 100;
	
/* If you want the pop-up open to the left of thumb, remove the left: 90px; and add  
right: 90px; This would mean the right side of the pop-up is 90px far from the right side of thumb */	

/* If you want the pop-up open above the thumb, remove the top: 50px; and add  
bottom: 50px; This would mean the bottom of the pop-up is 50px far from the bottom of thumb */	

/* add cursor:default; to this rule to disable the hand cursor only for the large image */
}

.resize_thumb {
	width: 150px; /* enter desired thumb width here */
	height : auto;
}

/* smart image enlarger ends here */
